<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% if messages %}
        
        {% for message in messages  %}
            {{message}}
        {% endfor %}
            
    {% endif %}
        
    <center><h1>Weather App</h1></center>
    
    <form action="" method="get">
        <input type="text" name="name">
        <input type="submit" value="Add">
        <hr>
    </form>
    
    {% for city in city_data %}
        <h4>{{city.city}}</h4>
        <br>
        {{city.temp}} <span>&#8451;</span>
        <br>
        <img src='http://openweathermap.org/img/wn/{{city.icon}}.png' alt='icon'>
        {{city.desc}}
        <hr>
    {% endfor %}
        
</body>
</html>